@model List<EntityLayer.Concrete.Message2>
@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Konu</th>
            <th>Gönderen</th>
            <th>Tarih</th>
            <th>Mesajı Aç</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MessageID</td>
                <td>@item.Subject</td>
                <td>@item.RecevierUser.WriterName</td>
                <td>@item.MessageDate.ToString("dd-MMM-yyyy")</td>
                <td><a class="btn btn-warning" href="/Message/MessageDetails/@item.MessageID">Mesajı Aç</a></td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-info" href="/Message/SandMessage">Yeni Mesaj</a>



