@model CoreBlog.Models.RoleWM
@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <div class="form-group">
        <lsbel>Role Adı</lsbel>
        <input type="text" name="RoleName" class="form-control" required />
    </div>

    <button class="btn btn-succes">Ekle</button>
</form>

