@model IPagedList<EntityLayer.Concrete.Category>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Status</th>
            <th>Aktif Yap</th>
            <th>Pasif Yap</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td>
                    @(item.CategoryStatus == true ? "Aktif" : "Pasif")
                </td>
                <td><a class="btn btn-danger" href="/Admin/Category/CategoryStatusTrue/@item.CategoryID">Aktif Yap</a></td>
                <td><a class="btn btn-warning" href="/Admin/Category/CategoryStatusFalse/@item.CategoryID" Blog">Pasif Yap</a></td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary" href="/Admin/Category/AddCategory" Blog">Kategori Ekle</a>
<br />
<br />
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new {page}))
