@using CoreBlog.Controllers
@model Class1
@{
    ViewData["Title"] = "AddEmploye";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Çalışan adı soyadı</label>
    <input type="text" asp-for="@Model.Name" class="form-control"/>
    <br />
<button type="submit" class="btn btn-succes">Ekle</button>
</form>
