
@{
    ViewData["Title"] = "ExcelBlogList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>ExcelBlogList</h1>
<br>
<a href="/Admin/Blog/ExportDynamicBlogList" class="btn btn-succes">İndir</a>
